.Main_Container {
  height: auto;
  width: auto;
  margin: 0px auto;
  border-radius: 0px;
  background: #ffffff;
}
.Main_Container_UpperPart {
  height: 640px;
  width: auto;
  background: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
  border-radius: 0px 0px 35px 35px;
}
.Main_Container_UpperPart_Bodymassicone {
  height: 40px;
  width: 40px;
  margin: 32px auto !important;
}
.Main_Container_BodyMass_Text_Box {
  height: 327px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
}
.Main_Container_UpperPart_Header_Text {
  height: 159px;
  width: 327px;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: -0.05em;
  text-align: center;
  color: #253347;
}
.Main_Container_UpperPart_Second_Text {
  height: 144px;
  width: 327px;

  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e6e85;
}

.bmi_Calculator_Box {
  height: 649px;
  width: 328px;
  border-radius: 16px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 16px 32px 56px 0px #8faecf40;
  margin: 48px auto;
}

.bmi_Calculator_Header_Text {
  height: 29px;
  width: 253px;
  margin: 0px auto;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.bmi_Calculator_Metrics_Imperial_Box {
  height: 31px;
  width: 280px;
  margin: 42px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.bmi_Calculator_Metrics_Box {
  height: 31px;
  width: 128px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bmi_Calculator_Metric_Selector {
  height: 31px;
  width: 31px;
  background: #345ff626;
}
.bmi_Calculator_Metric_Selector_Text {
  height: 24px;
  width: 50px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.bmi_Calculator_Imperial_Box {
  height: 31px;
  width: 128px;

  display: flex;
  flex-direction: row;
  align-items: center;
}
.bmi_Calculator_Imperial_Selector {
  height: 31px;
  width: 31px;
  background: linear-gradient(0deg, #d8e2e7, #d8e2e7),
    linear-gradient(0deg, #ffffff, #ffffff);
  border: 1px solid #d8e2e7;
}
.bmi_Calculator_Imperial_Selector_Text {
  height: 24px;
  width: 63px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #253347;
}
.metric_Height_Weight_Indicator_Box {
  height: 212px;
  width: 280px;
  margin: 0px auto;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.height_Metric_Box {
  height: 98px;
  width: 280px;
}
.height_Metric_Box_Header {
  height: 21px;
  width: 44px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}
.height_Metric_Box_Cm_box {
  height: 39px;
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  padding: 20px 24px 20px 24px;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #d8e2e7, #d8e2e7);
  border: 1px solid #d8e2e7;
}
.height_Metric_Box_Cm_Indicator {
  height: 39px;
  width: 180px;
  outline: none;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.height_Metric_Box_Cm_Text {
  height: 29px;
  width: 35px;

  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #345ff6;
}

.metric_Height_Weight_Indicator_second_Box {
  height: 212px;
  width: 280px;
  margin: -100px auto;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weight_Metric_Box {
  height: 98px;
  width: 280px;
}
.weight_Metric_Box_Header {
  height: 21px;
  width: 44px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}
.weight_Metric_Box_Cm_box {
  height: 39px;
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  padding: 20px 24px 20px 24px;
  background: linear-gradient(0deg, #ffffff, #ffffff),
    linear-gradient(0deg, #d8e2e7, #d8e2e7);
  border: 1px solid #d8e2e7;
}
.weight_Metric_Box_Cm_Indicator {
  height: 29px;
  width: 180px;
  outline: none;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.weight_Metric_Box_Cm_Text {
  height: 29px;
  width: 35px;

  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #345ff6;
}

.imperial_Height_Weight_Indicator_Box {
  height: 212px;
  width: 280px;
  margin: 0px auto;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imperial_Height_first_Box {
  height: 98px;
  width: 280px;
  display: flex;
  flex-direction: column;
}
.imperial_Height_first_Box_Height_Header_Text {
  height: 21px;
  width: 44px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}

.ft_In_Box {
  height: 69px;
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.imperial_Height_First_Box_Feet_Box {
  height: 30px;
  width: 80px;
  border-color: linear-gradient(0deg, #d8e2e7, #d8e2e7),
    linear-gradient(0deg, #ffffff, #ffffff);

  border: 1px solid #d8e2e7;
  border-radius: 12px;
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.feet_Number {
  height: 29px;
  width: 43px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.feet_Text {
  height: 29px;
  width: 17px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #345ff6;
}
.imperial_Height_Second_Box_Feet_Box {
  height: 30px;
  width: 80px;
  border-color: linear-gradient(0deg, #d8e2e7, #d8e2e7),
    linear-gradient(0deg, #ffffff, #ffffff);

  border: 1px solid #d8e2e7;
  border-radius: 12px;
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.in_Number {
  height: 29px;
  width: 43px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}

.in_Text {
  height: 29px;
  width: 17px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #345ff6;
}

.imperial_Weight_Second_Box {
  height: 98px;
  width: 280px;
  display: flex;
  flex-direction: column;
}
.imperial_Weight_Second_Box_Weight_Header_Text {
  height: 21px;
  width: 44px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}

.st_Ibs_Box {
  height: 69px;
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.imperial_Weight_Second_Box_st_Box {
  height: 30px;
  width: 80px;
  border-color: linear-gradient(0deg, #d8e2e7, #d8e2e7),
    linear-gradient(0deg, #ffffff, #ffffff);

  border: 1px solid #d8e2e7;
  border-radius: 12px;
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.st_Number {
  height: 29px;
  width: 43px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.st_Text {
  height: 29px;
  width: 17px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #345ff6;
}
.imperial_Ibs_Second_Box_Feet_Box {
  height: 30px;
  width: 80px;
  border-color: linear-gradient(0deg, #d8e2e7, #d8e2e7),
    linear-gradient(0deg, #ffffff, #ffffff);

  border: 1px solid #d8e2e7;
  border-radius: 12px;
  padding: 20px 24px 20px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.ibs_Number {
  height: 29px;
  width: 43px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}

.ibs_Text {
  height: 29px;
  width: 47px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #345ff6;
}

.bmi_Result_Box {
  height: 227px;
  width: 220px;
  margin: 24px auto;
  border-radius: 16px;
  padding: 32px;
  background: linear-gradient(90deg, #345ff7 0%, #587dff 100%);
}
.bmi_Result_Box_Number_Box {
  height: 85px;
  width: 216px;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 8px;
}
.bmi_Result_Box_Header_text {
  height: 24px;
  width: 216px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.bmi_Result_Box_Number_text {
  height: 53px;
  width: 99px;
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #ffffff;
}
.bmi_Result_Box_Secondary_Text {
  height: 84px;
  width: 216px;
  margin: 24px auto;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.meaning_Of_Bmi_box {
  height: 744.3883056640625px;
  width: 375px;
  margin: 72px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meaning_Of_Bmi_Text_Box {
  height: 342px;
  width: 328px;
  margin: 22px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.meaning_Of_Bmi_Header_Text {
  height: 70px;
  width: 328px;

  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.meaning_Of_Bmi_Secondary_Text {
  height: 240px;
  width: 328px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}

.meaningOfBmi {
  height: 767px;
  width: 327px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imageContainer {
  height: 221px;
  width: 327px;
  display: flex;
  flex-direction: column;
}
.icons {
  height: 64px;
  width: 64px;
}

.textContent {
  height: 125px;
  width: 327px;
  display: flex;
  flex-direction: column;
}
.headerText {
  height: 29px;
  width: 327px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.paragraphText {
  height: auto;
  width: 327px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}

.limitation_Box {
  height: auto;
  width: 327px;
  margin: 0px auto;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.limitation_Box_Header {
  height: 211px;
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limitation_Box_Header_Text {
  height: 70px;
  width: 327px;
  margin: 0px auto;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.limitation_Box_Secondary_Text {
  height: 240px;
  width: 327px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}

.limitation_Box_Factors_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 327px;
  margin: 56px auto;
}
.limitation_Box_Factors_list_Box {
  height: 216px;
  width: auto;
  border-radius: 16px;
  margin-top: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.limitation_Box_Factors_Header_Box {
  height: 32px;
  width: 279px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.icons2 {
  height: 32px;
  width: 32px;
}
.limitation_Box_Factors_Header_Text {
  height: 24px;
  width: 231px;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #253347;
}
.limitation_Box_Factors_Content {
  height: 120px;
  width: 279px;
  margin-top: 16px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5e6e85;
}
